#scroll {
    width: 100%;
    height: 180px;
    background-color: white;
    position: relative;
    border-bottom: red solid 1px;
}

#scroll ul {
    height: 180px;
    list-style-type: none;
}

#scroll ul li {
    width: 100%;
    height: 180px;
    margin: 0px;
    padding: 0px;
    display: none;
}

.subl {
    position: absolute;
    bottom: 20px;
    left: 40%;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.subr {
    position: absolute;
    bottom: 20px;
    right: 40%;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.subl:hover {
    background: yellow;
    border-radius: 10px;
}

.subr:hover {
    background: yellow;
    border-radius: 10px;
}