body {
    background: #fff;
    margin: 0 auto;
    width: 988px;
}

#headHeader {
    position: absolute;
    top: 0;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0;
    width: 988px;
    height: 100px;
    text-align: center;
}

article {
    position: absolute;
    top: 100px;
    margin-left: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    width: 718px;
    height: 500px;
}

#contentHeader {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#content {
    margin: 10px;
    width: 698px;
    height: 400px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
    text-align: justify;
    overflow: auto;
}

footer {
    position: absolute;
    top: 600px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px 0 0 0;
    width: 988px;
    height: 30px;
    text-align: center;
}

#nav {
    position: absolute;
    top: 100px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px 0 0 20px;
    width: 180px;
    height: 480px;
}

#AD {
    position: absolute;
    top: 100px;
    left: 937px;
    width: 69px;
    height: 500px;
}